<div class='tE'>
	[% IF root.space > 0 %] <div id='tS' style='width:[% root.space %]px;'></div>[% END %]
	[% IF root.parent %]
		<a onClick="[% root.picUrl %]" class='tE' title="[% root.picTitle %]">
			<img class='tE' src='[% imagepathrel %]/[% IF root.expanded %]minus.gif[% ELSE %]plus.gif[% END %]' />
		</a>
	[% ELSE %]
	 	<div id='tSFW'></div>
	[% END %]
	<div class='tL'>
		[% IF root.rootUrl %]
			<a href="[% root.rootUrl %]" class='tLR'><font color='[% root.color %]'>[% root.name %]</font></a>
		[% ELSE %]
			<font color='[% root.color %]'><div class='tLR'>[% root.name %]</div></font>
		[% END %]
		[% IF root.rootPic %]
			<img class="tE2" src="[% imagepathrel %]/[% root.rootPic %]" alt="[% root.rootAlt %]" title="[% root.rootAlt %]"/>
		[% END %]
	</div>
	<p id='tD'>[% root.descr %]</p>
  <div style='clear:left'></div>
</div>
