<div id='container'>

	<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% netFunctionsHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu			= netFunctions
					formName	= netFunctionsFormName
					hiddens		= netFunctionHiddens
				%]
			</div>
		</div>
	</td></tr></table></td></tr></table>
	<br>

	<table width='100%'><tr valign='top'><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% netBasicInfoHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu      = netBasicInfo
				%]
			</div>
		</div>
	</td></tr></table></td>
	<td align='center'><table><tr valign='top'><td>
		<div id='box'>
			<p id='boxHeader'>[% netInfoHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu      = netInfo
				%]
			</div>
		</div>
		<div style='clear:left'></div>
	</div>
	</td></tr></table></td></tr></table>
	
	<br>

	<table width='100%' border='0'><tr valign='top'><td align='center'>
	[% FOREACH plugin IN plugins %]
		<div id	= 'plugin_[% plugin.ID %]' [% UNLESS plugin.newLine %]style='float:left'[% END %]>
			<p style='text-decoration:blink'>[% plugin.name %]: loading...</p>
		</div>
		<script>
			eval(showPlugin(['args__[% plugin.ID %]', 'args__[% plugin.netID %]'], ['plugin_[% plugin.ID %]']));
		</script>
	[% END %]
	<div style='float:clear'></div>
	</td></tr></table>

</div>
