<div id='container'>

		<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% rootInfoHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu			= rootInfo
				%]
			</div>
		</div>
		</td></tr></table></td>

		<td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% rootFunctionsHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu      = rootFunctions
					formName	= rootFunctionFormName
					hiddens		= rootFunctionHiddens
				%]
			</div>
		</div>
	</td></tr></table></td></tr></table>
	
</div>
