[% UNLESS noHeader %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML>
	<HEAD>	
		<TITLE>[% titlelong %]</TITLE>
		<link rel="stylesheet" type="text/css" href="[% style %]" title="[% styleDescr %]" media="screen, projection">
		[% FOREACH style IN layouts %]
			[% IF style.descr != styleDescr %]
				<link rel="alternate stylesheet" type="text/css" href="[% style.file %]" title="[% style.descr %]" media="screen, projection">			
			[% END %]
		[% END %]
		<script src="[% jssrc %]" type="text/javascript"></script>
	</HEAD>
	<BODY onload="init();">
[% END %]

[% IF page == 'main' %]
	[% INCLUDE HaCiMain.tmpl %]
[% ELSIF page == 'login' %]
	[% INCLUDE HaCiLogin.tmpl %]
[% ELSIF page == 'showStatus' %]
	[% INCLUDE HaCiShowStatus.tmpl %]
[% ELSIF page == 'treeNetworkTable' %]
	[% INCLUDE HaCiTreeNetwork.tmpl %]
[% ELSIF page == 'treeRootNetworkTable' %]
	[% INCLUDE HaCiTreeRoot.tmpl %]
	[% INCLUDE HaCiTreeNetwork.tmpl %]
[% ELSIF page == 'showPlugin' %]
	[% INCLUDE HaCiShowPlugin.tmpl %]
[% END %]

[% UNLESS noHeader %]
	</BODY>
</HTML>
[% END %]
