<div id='container'>

	<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% settingsMenuHeader %]</p>
				[% INCLUDE HaCiBox.tmpl
					menu			= settingsMenu
					formName	= settingsMenuFormName
					hiddens		= settingsMenuHiddens
				%]
		</div>
	</td></tr></table></td></tr></table>
	<br>

	[% IF settingsSubMenu %]
		<hr>
	[% END %]

	[% IF settingsSubMenu == 'chOwnPW' %]
		[% INCLUDE HaCiChanceOwnPW.tmpl %]
	[% ELSIF settingsSubMenu == 'showViewSettings' %]
		[% INCLUDE HaCiShowViewSettings.tmpl %]
	[% END %]

</div>
